body, html {
    height: 100%;
  }
  
body{
    background-image: url('https://img.freepik.com/free-vector/hexagonal-technology-pattern-mesh-background-with-text-space_1017-26293.jpg?size=626&ext=jpg');
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
div{
    color: white;
    font-family: cursive;
}
.surya{
    color:red;
}